/* SPDX-License-Identifier: MIT
 *  See LICENSE for details.
*/

.warning {
    padding: 1em;
    margin: 1.0em 0;
    background-color: #ffaaaa;
    border-left: 0.5em solid #e00000;
    color: #111;
    font-size: 1.2em;
}

.warning p {
    margin-top: 0;
    margin-bottom: 0;
}


.main-nav {
    display: flex;
    justify-content: space-between;
}


#search-input {
    width: 100px;
    padding: 4px 8px; /* Adjust padding to match surrounding text height better */
    font-size: 1em; /* Inherit font size */
}

#search-results {
    border: 1px solid var(--text-color);
    z-index: 100;
}

img {
    float: left;
    margin-right: 1.5em; 
    margin-bottom: 0.5em; 
}

h1, h2, h3, h4, h5, h6 {
    /* Запретить заголовкам занимать место слева, если там есть float-элемент */
    clear: left;
}

canvas {
    width: 100%;
    height: auto;
}

iframe {
    width: 100%;
}

label,
input[type="range"] {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

